# GitLab (global - single instance)
GITLAB_URL=https://gitlab.internal

# Service
PORT=3000
MAX_CONTAINERS=20
CONTAINER_TIMEOUT_HOURS=4

# Container resource limits
CONTAINER_CPU_LIMIT=2
CONTAINER_MEMORY_LIMIT=4g

# Docker (macOS Colima users need to set DOCKER_SOCK)
# DOCKER_SOCK=/Users/<user>/.colima/default/docker.sock
